.bg-main {
    background-image: url('../../assets/images/cover_image.jpeg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main-search {
    width: 600px;
}

@media screen and (max-width: 600px) {
    .form-inline {
        width: 80vw;
    }
}

@media screen and (max-width: 600px) {
    .btn-search {
        width: 80vw;
    }
}

.btn-search, .btn-primary {
    background-color: #9d669d;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none ;
}

.btn-search:hover, .btn-primary:hover {
    background-color: #623b62;
}

.card{
    margin-top: 15px;
}

.card-img-top{
    height: 300px;
    object-fit: cover;
}

