.bg-main {
    background-image: url('../../assets/images/cover_image.jpeg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search, .intro-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-form{
    background-color: rgba(6, 10, 5, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 900;
    margin: 10px;
    margin-bottom: 40px;
    text-align: center;
    border-radius: 5px;
    padding-top: 10px;
}


.keywords {
    display: flex;
    align-items: center;    
    justify-content: center;
}


.main-search {
    width: 600px;
}

@media screen and (max-width: 600px) {
    .form-inline {
        width: 80vw;
    }
}

@media screen and (max-width: 600px) {
    .btn-search {
        width: 80vw;
    }
}

.btn-search, .btn-primary {
    background-color: #9d669d;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none ;
}

.btn-search:hover, .btn-primary:hover {
    background-color: #623b62;
}

.btn-primary {
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	background-color:#c123de;
	border-radius:6px;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
}
.btn-primary:hover {
	background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
	background-color:#a20dbd;
}
.btn-primary:active {
	position:relative;
	top:1px;
}

.card{
    margin-top: 15px;
    margin-bottom: 20px;
}

.card-img-top{
    height: 300px;
    object-fit: cover;
}

.word{
    background-color: #9d669d;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    font-style: italic;
    font-weight: bold;
    opacity: 85%;
}

.fa-trash{
    margin-left: 10px;
}

.fa-check-circle{
    color: white;
    font-size: 24px;
}

.btn-success{
    margin-left: auto;
}

#accordion{
    padding: 0px;
    margin: 0px;
}

.col-md-1{
    border: 1px solid red;
    padding: 0px;
    margin: 0px;
}

.card-header{
    padding: 0px;
    background-color: rgb(238, 215, 238);
}

.btn-link {
    color: purple;
}
/* 
@media (min-width: 720px)
{
    .collapse
    {
        display: block;
    }
} */

.list-group-item{
    background-color: rgb(255, 239, 255);
}

.btn-secondary{
    padding-left: 0px;
}

.btn-warning{
    margin-right: 10px;
    font-weight: bold;
}