<div class="jumbotron jumbotron-fluid bg-main">
    <div class="intro-form">
        <p>Añade al menos una palabra que defina el animal que quieres indentificar y pulsa el botón de "Buscar".</p>
    </div>
    <!--Keyword search and keywords box-->
    <div class="search">
        <form name="miFormulario" #busqueda= "ngForm" (submit)="filterByKeyword()" class="form-inline">
            <div class="input-group mb-3">
            <input (keypress)="onKeyPress($event)" name="miInput" class="form-control main-search" #search="ngModel" [(ngModel)]="textSearch" type="search" placeholder="Palabra clave" aria-label="Search">
            <div class="input-group-append">
                <button (click)="addKeyword()" class="btn btn-warning" type="button">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </div>
            <div class="input-group-append">
                <button (click)="deleteKeywords()" class="btn btn-secondary" type="button">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>
            <button class="btn btn-primary ml-2" [disabled]="keywords.length === 0">Buscar</button>
            </div>
        </form>
    </div>
    <div class="keywords">
        <div class="d-flex flex-wrap">
            <div class="d-inline-flex p-2"  *ngFor="let word of keywords; let i = index">
                <div class="word">{{keywords[i]}}<i (click)="deleteKeyword(i)" class="fa fa-trash"></i></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
         <!--Categories filter-->
        <div class="col-md-2">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa fa-angle-double-down"></i> Filtrar por categoría
                        </button>
                    </h5>
                    </div>
                    <div id="collapseOne" class="collapse show"  aria-labelledby="headingOne" data-parent="#accordion">
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let category of categories; let i = index">
                                <div class="d-flex bd-highlight">
                                    <div class="bd-highlight">{{categories[i]}}</div>
                                    <div class="ml-auto bd-highlight">
                                        <input value="{{categories[i]}}" type="checkbox" (change)="onCheckboxChange(categories[i],$event)">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
         <!--Animals results-->
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4"  *ngFor="let one of _animalService.allAnimals; let i = index">
                    <div *ngIf="i >= inferior && i < superior" class="card">
                        <img src="{{_animalService.allAnimals[i]['imageUrl']}}" class="card-img-top" alt="{{_animalService.allAnimals[i]['name']}}">
                        <div class="card-body">
                            <h6 class="card-title">{{_animalService.allAnimals[i]['name']}}</h6>
                            <a routerLink="/animal/{{_animalService.allAnimals[i]['_id']}}" class="btn btn-primary">Ver animal</a>
                            <div *ngIf="_animalService.showCheck" class="d-flex flex-row bd-highlight mt-2">
                                <div class="p-2 bd-highlight">
                                    <p>¿Era lo que buscabas?</p>
                                </div>
                                <div class="bd-highlight">
                                    <button class="btn btn-success" (click)="addUserKeywords(keywords, _animalService.allAnimals[i]['_id'])" type="button" ><i class="fa fa-check-circle" aria-hidden="true"></i></button>
                                    <p *ngIf="msgSuccess === _animalService.allAnimals[i]['_id']">¡Genial!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><button class="btn btn-warning" [disabled]="inferior === 0" (click)="previous()">Previous</button></li>
                    <!-- <ul *ngFor="let page of _animalService.arrayPages" class="pagination">
                        <li class="page-item"><button>{{page}}</button></li>
                    </ul> -->
                  <li class="page-item"><button class="btn btn-warning" [disabled]="superior > _animalService.allAnimals.length || superior === _animalService.allAnimals.length" (click)="next()">Next</button></li>
                </ul>
            </nav>
        </div>
    </div>
</div> 