<app-navbar></app-navbar>
<div class="jumbotron jumbotron-fluid bg-main">
    <div class="search">
        <form class="form-inline">
            <input class="form-control main-search mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 btn-search" type="submit">Buscar</button>
        </form>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- Animal routerLink="/articulo/{{i}}"-->    
        <div class="col-md-4"  *ngFor="let animal of animals; let i = index">
            <div class="card">
                <img src="{{animal['imageUrl']}}" class="card-img-top" alt="{{animal['name']}}">
                <div class="card-body">
                    <h5 class="card-title">{{animal["name"]}}</h5>
                    <a href="#" class="btn btn-primary">Ver animal</a>
                </div>
            </div>
        </div>
    </div>
</div>  