<nav class="asistence-tabs">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link link-text active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">¿Has encontrado un animal enfermo o herido?</a>
      <a class="nav-item nav-link link-text" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">¿Has encontrado un polluelo?</a>
      <a class="nav-item nav-link link-text" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">¿Has encontrado un animal atrapado?</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <!--Tab 1 - Animal herido-->
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="row">
        <!--columna1-->
            <div class="col-12 col-md-6">
                <h5>Lee atentamente las siguientes instrucciones</h5>
                <div class="intro-asistence">
                    <p>No hay que confundir un animal herido con uno fácil de capturar por falta de miedo o de capacidad natural para huir, lo que puede suceder con una tortuga o con las crías de muchos animales (búhos, erizos, corzos, etc.). En estos casos, puede parecer que están abandonados, pero seguro que sus padres están cerca vigilándolos sin que nosotros los podamos ver. Así pues, si no están heridos, lo mejor es no tocarlos.</p>
                </div>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link link-text collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <i class="fa fa-angle-double-down"></i> Solicita ayuda de profesionales especializados
                            </button>
                        </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <p>Una vez verificado que es un animal salvaje y que realmente necesita ayuda contacte inmediatamente con el profesional más cercano.</p>
                                <p>Registre todos los datos que pueda del punto exacto de recolección (ubicación, ubicación, ayuntamiento, etc.), la hora en que lo encontró y el estado del animal en el momento de la recolección. Es muy importante que brinde toda esta información escrita a la persona que lo recoja para que los expertos puedan aplicar el tratamiento correcto, y especialmente para que vuelva a su punto de origen cuando se restablezca.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                            <button class="btn btn-link link-text collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fa fa-angle-double-down"></i> Preste ayuda al animal si lo ve necesario
                            </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <p>Recuerde siempre que lo más probable que el animal esté nervioso o asustado e intente defenderse, por lo que es importante evitar que le haga daño.</p>
                                <p>Si pese a todo cree que puede recogerlo usted mismo, necesitará una manta, una toalla o una pieza de ropa amplia para envolverlo ligeramente antes de levantarlo del suelo. Siempre se debe colocar por detrás del animal para envolverlo y mantenerse fuera del alcance de sus piernas, boca o pico.</p>
                                <p>Si no está seguro, no intente atraparlo, ya que podría lastimarse y/o dañar al animal. En este caso, espere junto el animal por el servivio de asistencia.</p>
                                <p>Si sospecha que el animal ha podido ser envenenado, <strong>NO TOQUE NADA</strong>. Puede ser peligroso y puede estar estropeando pruebas de un delito.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                            <button class="btn btn-link link-text collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="fa fa-angle-double-down"></i> Recoja al animal y espere al servicio de asistencia
                            </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <ol>
                                    <li>Inserte el animal en una caja de cartón apropiada para su tamaño y con agujeros para respirar.</li>
                                    <li>Una vez que lo tenga dentro de la caja, retire la manta con la que lo atrapó.</li>
                                    <li>No le ponga agua ni comida.</li>
                                    <li>No coloque en la caja paja ni ningún otro material que pueda ensuciar sus heridas.</li>
                                    <li>Manténgalo en un lugar aislado del ruido y las personas y con poca luz, como una habitación oscura.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intro-asistence">
                    <p>Recuerde que bajo ninguna circunstancia estará en posesión del animal, ya que esto, además de un daño grave al animal, constituye una violación de la Lei 9/2001, de Conservación da Natureza.</p>
                </div>
            </div>
            <!--columna2-->
            <div class="col-12 col-md-6">
                <div class="info-call">
                    <p><strong>Solicitar ayuda telefónica</strong></p>
                    <p><i class="fa fa-phone"></i>Al Servicio de Protección de la Naturaleza (SEPRONA) de la Guardia Civil. Tel.: 062</p>
                    <p><i class="fa fa-phone"></i>Al Centro de Atención de Emergencias de Galicia. Tel.: 112</p>
                    <p><i class="fa fa-phone"></i>Al Servicio Municipal de Protección Civil de su Ayuntamiento</p>
                </div>
                <div class="find-center">
                    <p><strong>Encontrar el centro más cercano</strong></p>
                    <button (click)="geolocalizar()" type="button" class="btn btn-info">Centro más cercano</button>
                </div>
                <div *ngIf="closestCenter !== undefined" class="alert alert-primary">
                    <p><strong>{{closestCenter["name"]}}</strong></p>
                    <p>Dirección: {{closestCenter["address"]}}</p>
                    <p>Teléfono: {{closestCenter["phone"]}}</p>
                </div>
            </div>
        </div> 
    </div>
    <!--Fin Tab 1 - Animal herido-->
    <!--Inicio Tab 2 - Aves -->
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="row">
            <!--columna1-->
            <div class="col-12 col-md-6">
                <h5 class="title-section">¿Es un recién nacido o polluelo emplumado?</h5>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div>
                            <div class="card bird-example">
                                <img class="card-img-top" src="../../assets/images/newborn.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text bird-example-text">Polluelos recién nacidos.</p>
                                </div>
                            </div>
                            <div class="card bird-example">
                                <img class="card-img-top" src="../../assets/images/feathered.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text bird-example-text">Polluelos emplumados.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div>
                            <p><strong>Si puedes ver el nido</strong> devuelve el polluelo a su nido con mucho cuidado. Espera mirando a una distancia prudente y comprueba si vuelven sus padres.</p>
                            <p>Es un mito que si tocas un pájaro sus padres lo abandonarán. La única precaución a tener en cuenta es no dañar el nido ni a los demás polluelos.</p>
                        </div>
                        <div>
                            <p><strong>Si no puedes ver el nido</strong> intenta construir una especie de nido en un lugar seguro donde el polluelo no corra peligro y déjalo cerca de donde lo has encontrado. Si pasadas unas horas los padres no han vuelto coloca el polluelo en una caja cálida, oscura y bien ventilada y contacta con algún centro de asistencia. En ningún caso le des comida, agua o leche.</p>
                            <p>Ten en cuenta que dependiendo de si es una especie protegida puede ser recomendable no manipular el animal y contactar directamente con un centro de asistencia.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--columna2-->
            <div class="col-12 col-md-6">
                <h5 class="title-section">¿Es un volantón o vencejo?</h5>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div>
                            <div class="card bird-example">
                                <img class="card-img-top" src="../../assets/images/young_pigeon.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text bird-example-text">Volantón.</p>
                                </div>
                            </div>
                            <div class="card bird-example">
                                <img class="card-img-top" src="../../assets/images/swift.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text bird-example-text">Vencejo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div>
                            <p><strong>Si es un volantón y no está en un lugar peligroso no hagas nada</strong>. Es frecuente cuando los polluelos están aprendiendo a volar que a veces no puedan levantar el vuelo. Sin embargo, sus padres estarán cerca para ayudarle.</p>
                            <p>Si por el contrario se encuentra en un lugar peligroso, ponlo con mucho cuidado en un lugar cercano pero fuera del alcance de depredadores, coches, etc. y aléjate.</p>
                        </div>
                        <div>
                            <p><strong>En el caso de los vencejos,</strong> las crías abandonan el nido una mañana volando súbitamente, sin necesidad de aprendizaje previo, y no retornan a él jamás. A causa de su especial morfología alar y sus cortas patas, si caen al suelo experimentan gran dificultad para remontar el vuelo, y necesitan hacerlo desde un sitio elevado. Por eso es necesario colocarlos en una posición elevada como una repisa. Si aun así no remonta el vuelo, contacta con algún centro de asistencia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <!--Fin Tab 2 - Aves -->
    <!--Inicio Tab 3 - Atrapados -->
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="row">
            <!--columna1-->
            <div class="col-12 col-md-6">
                <h5 class="title-section">Pajaros atrapados en redes</h5>
                <div>
                    <p>Son los casos más frecuentes en Galicia tanto en la costa como en las zonas rurales. Es importante evaluar y valorar el estado en el que se encuentra el animal antes de decidirse a contactar con profesionales o actuar por su cuenta. En el segundo caso, los pasos a tener en cuenta son:</p>
                </div>
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Lo más importante es atrapar al animal y asegurarse de agarrar firmemente al pájaro sin dañarlo</strong>. Puede parecer que lo primordial es cortar las ataduras. Sin embargo, es más importante asegurarse de que el animal no escape con ganchos y cuerdas aún unidos a su cuerpo, lo que continuará dañándolo y, en muchos casos, finalmente le causará la muerte.</li>
                        <li class="list-group-item"><strong>En caso de tratarse de un pájaro con pico o garras potencialmente peligrosas</strong>, es fundamental asegurarse en primer lugar que tanto la persona como el animal no corren peligro. Envolver el pico con un trapo pequeño y sujetar el animal entre dos personas disminuye los riegos.</li>
                        <li class="list-group-item"><strong>Si el material que se enreda está incrustado en la piel del ave o está muy apretado</strong>, no intente eliminarlo usted mismo. Hacerlo puede causar un daño aún mayor al ave. Corte lo suficiente del material como para soltar al ave y transportarla a un centro de rehabilitación de vida silvestre donde el personal capacitado puede eliminar con seguridad el material enredado.</li>
                    </ul>
                </div>
            </div>
            <!--columna2-->
            <div class="col-12 col-md-6">
                <h5 class="title-section">Murciélagos en casa</h5>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div>
                            <div class="card bird-example">
                                <img class="card-img-top" src="../../assets/images/tangled_bird.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text bird-example-text">Pájaro atrapado</p>
                                </div>
                            </div>
                            <div class="card bird-example">
                                <img class="card-img-top" src="../../assets/images/bat.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text bird-example-text">Murciélago común</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div>
                            <p><strong>¿Cómo devolver un murciélago a la naturaleza?</strong></p>
                            <ol class="ordered-list">
                                <li class="orderd-item">Espere hasta que el animal esté inmóvil. Es casi imposible atrapar un murciélago que está volando, y tiene más posibilidades de herirlo si intenta capturarlo mientras está en el aire.</li>
                                <li class="orderd-item">Acérquese en silencio, usando guantes gruesos o una toalla. Recoja el murciélago manera segura pero sin apretar y colóquelo en una caja con tapa.</li>
                                <li class="orderd-item">Suéltelo al aire libre al caer la noche. Encuentre un área elevada, levante la caja e inclínela hacia un lado para que el murciélago pueda volar.</li>
                                <li class="orderd-item">Si el murciélago no vuela, o intenta volar pero parece incapaz de hacerlo, es probable que tenga una lesión o enfermedad. Puede ser un joven desorientado, o simplemente puede estar deshidratado o hambriento de estar atrapado en el interior. En ese caso contacte con un profesional.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <!--FinTab 3 - Atrapados -->
</div>
