<div class="jumbotron jumbotron-fluid bg-main">
    <div class="error">
        <div class="alert alert-danger" role="alert">
            <div class="content-error"><p>Lo sentimos, no hemos encontrado la página que buscas.</p></div>
            <div class="content-error"><img class="logo-error" src="../../assets/images/logo.png"></div>
            <div class="content-error"><button type="button" class="btn btn-primary" routerLink="/home">Volver al inicio</button></div>
        </div>
    </div>
</div>
