.container{
    height: 80vh;
}
.col-12{    
    background-color: rgb(245, 231, 245);
    margin-top: 20px;
    margin-bottom: 20px;
 
    overflow: hidden;
}

.img-wrap {
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info-animal-img{
    width: 100%;
    border: 1px solid #8a4419;
    border-style: inset;
}

.info-animal-img:hover {opacity: 0.7;}

.btn-primary {
    background-color: #9d669d;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none ;
}

.animalInfo{
    margin-top: 40px;
}

.title{
    font-weight: bold;
}

.badge-success, .badge-warning, .badge-danger{
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px; 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    background-color: transparent;
    border:none;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        margin-top: 50px;
      width: 80%;
    }
}

#imagepreview{
    object-fit: cover;
    width: 100%;
    max-width: 700px;   
}

.btn-default{
    font-weight: bold;
    color: white;
}
