.navbar {
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 3px solid #670a78;
}

.logo_navbar {
    height: 50px;
}

.btn {
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none ;
}

h1 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #670a78;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-primary {
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	background-color:#c123de;
	border-radius:6px;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
}
.btn-primary:hover {
	background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
	background-color:#a20dbd;
}
.btn-primary:active {
	position:relative;
	top:1px;
}

.btn-warning {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.btn-warning:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.btn-warning:active {
	position:relative;
	top:1px;
}
