<nav class="navbar sticky-top">
    <a class="navbar-brand" routerLink="/home">
        <div class="d-inline-flex align-items-center">
            <img class="logo_navbar" src="../../assets/images/logo.png">
            <h1>cude</h1>
        </div>
    </a>
    <div class="d-flex flex-row-reverse">
        <div class="p-2">
            <button type="button" class="btn btn-warning">Asistencia</button>
        </div>
        <div class="p-2">
            <button type="button" class="btn btn-primary" routerLink="/addAnimal">Añadir animal</button>
        </div>
    </div>
</nav>
