<nav class="asistence-tabs">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">¿Has encontrado un animal enfermo o herido?</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <!--Tab 1 - Animal herido-->
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="row">
        <!--columna1-->
            <div class="col-12 col-md-6">
                <h5>Lee atentamente las siguientes instrucciones</h5>
                <div class="intro-asistence">
                    <p>No hay que confundir un animal herido con uno fácil de capturar por falta de miedo o de capacidad natural para huir, lo que puede suceder con una tortuga o con las crías de muchos animales (búhos, erizos, corzos, etc.). En estos casos, puede parecer que están abandonados, pero seguro que sus padres están cerca vigilándolos sin que nosotros los podamos ver. Así pues, si no están heridos, lo mejor es no tocarlos.</p>
                </div>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link link-text collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Solicita ayuda de profesionales especializados
                            </button>
                        </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <p>Una vez verificado que es un animal salvaje y que realmente necesita ayuda contacte inmediatamente con el profesional más cercano.</p>
                                <p>Registre todos los datos que pueda del punto exacto de recolección (ubicación, ubicación, ayuntamiento, etc.), la hora en que lo encontró y el estado del animal en el momento de la recolección. Es muy importante que brinde toda esta información escrita a la persona que lo recoja para que los expertos puedan aplicar el tratamiento correcto, y especialmente para que vuelva a su punto de origen cuando se restablezca.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                            <button class="btn btn-link link-text collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Preste ayuda al animal si lo ve necesario
                            </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <p>Recuerde siempre que lo más probable que el animal esté nervioso o asustado e intente defenderse, por lo que es importante evitar que le haga daño.</p>
                                <p>Si pese a todo cree que puede recogerlo usted mismo, necesitará una manta, una toalla o una pieza de ropa amplia para envolverlo ligeramente antes de levantarlo del suelo. Siempre se debe colocar por detrás del animal para envolverlo y mantenerse fuera del alcance de sus piernas, boca o pico.</p>
                                <p>Si no está seguro, no intente atraparlo, ya que podría lastimarse y/o dañar al animal. En este caso, espere junto el animal por el servivio de asistencia.</p>
                                <p>Si sospecha que el animal ha podido ser envenenado, <strong>NO TOQUE NADA</strong>. Puede ser peligroso y puede estar estropeando pruebas de un delito.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                            <button class="btn btn-link link-text collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Recoja al animal y espere al servicio de asistencia
                            </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <ol>
                                    <li>Inserte el animal en una caja de cartón apropiada para su tamaño y con agujeros para respirar.</li>
                                    <li>Una vez que lo tenga dentro de la caja, retire la manta con la que lo atrapó.</li>
                                    <li>No le ponga agua ni comida.</li>
                                    <li>No coloque en la caja paja ni ningún otro material que pueda ensuciar sus heridas.</li>
                                    <li>Manténgalo en un lugar aislado del ruido y las personas y con poca luz, como una habitación oscura.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intro-asistence">
                    <p>Recuerde que bajo ninguna circunstancia estará en posesión del animal, ya que esto, además de un daño grave al animal, constituye una violación de la Lei 9/2001, de Conservación da Natureza.</p>
                </div>
            </div>
            <!--columna2-->
            <div class="col-12 col-md-6">
                <p>Col 2</p>
            </div>
        </div> 
    </div>
    <!--Fin Tab 1 - Animal herido-->
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>
