<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div [hidden]="submitted" class="wrap-form">
                <!--Formulario añadir info animal-->
                <form name="formAddAnimal" #addAnimal="ngForm"
                    (ngSubmit)="addAnimal.form.valid && submitData(addAnimal)">
                    <!--Nombre-->
                    <div class="form-group">
                        <label for="animalName">Nombre</label>
                        <input class="form-control" type="text" placeholder="¿Cuál es su nombre oficial?" required
                            maxlength="40" name="animalName" #animalName="ngModel" [(ngModel)]="formData['name']"  (change)="checkName()">
                    </div>
                    <p *ngIf="animalName.invalid && animalName.touched && animalName.pristine"
                        class="alert alert-danger">Este campo es obligatorio</p>
                    <p *ngIf="_animalService.registeredAnimal !== undefined"
                        class="alert alert-info">{{_animalService.registeredAnimal}}</p>
                    <!--Palabras clave-->
                    <div class="form-group">
                        <label for="animalKeywords">Palabras clave</label>
                        <div class="input-group mb-3">
                            <input (keypress)="onKeyPress($event)" class="form-control" type="text" placeholder="¿Qué palabra lo define?"
                                name="animalKeywords" #animalKeywords="ngModel"
                                [(ngModel)]="formData['keyWords']">
                            <div class="input-group-append">
                                <button (click)="addKeywordForm()" class="btn btn-warning"
                                    type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="info-keywords">
                            <p>Escribe una palabra clave y pulsa el botón "+" para añadirla.</p>
                        </div>
                        <div *ngIf="keywordsArray !== undefined" class="d-flex flex-wrap kw-box">
                            <div class="d-inline-flex p-2" *ngFor="let keyword of keywordsArray; let i = index">
                                <div class="word">{{this.keywordsArray[i]}}<i (click)="deleteKeyword(i)" class="fa fa-trash"></i></div>
                            </div>
                        </div>
                    </div>
                    <!--Dieta-->
                    <div class="form-group">
                        <label for="animalDiet">Dieta</label>
                        <textarea class="form-control" type="text" placeholder="¿De qué se alimenta?" rows="3"
                            maxlength="150" required name="animalDiet" #animalDiet="ngModel"
                            [(ngModel)]="formData['diet']"></textarea>
                    </div>
                    <p *ngIf="animalDiet.invalid && animalDiet.touched && animalDiet.pristine"
                        class="alert alert-danger">Este campo es obligatorio</p>
                    <!--Reproduction-->
                    <div class="form-group">
                        <label for="animalReproduction">Reproducción</label>
                        <textarea class="form-control" type="text" placeholder="¿Cuándo se reproduce?" required rows="3"
                            maxlength="150" name="animalReproduction" #animalReproduction="ngModel"
                            [(ngModel)]="formData['reproduction']"></textarea>
                    </div>
                    <p *ngIf="animalReproduction.invalid && animalReproduction.touched && animalReproduction.pristine"
                        class="alert alert-danger">Este campo es obligatorio</p>
                    <!--Habits-->
                    <div class="form-group">
                        <label for="animalHabit">Costumbres</label>
                        <textarea class="form-control" type="text" placeholder="¿Es nocturno? ¿Hiberna?" required
                            rows="3" maxlength="150" name="animalHabit" #animalHabit="ngModel"
                            [(ngModel)]="formData['habit']"> </textarea>
                    </div>
                    <p *ngIf="animalHabit.invalid && animalHabit.touched && animalHabit.pristine"
                        class="alert alert-danger">Este campo es obligatorio</p>
                    <!--Habitat-->
                    <div class="form-group">
                        <label for="animalHabitat">Habitat</label>
                        <textarea class="form-control" type="text" placeholder="¿Dónde vive?" required rows="3"
                            maxlength="150" name="animalHabitat" #animalHabitat="ngModel"
                            [(ngModel)]="formData['habitat']"></textarea>
                    </div>
                    <p *ngIf="animalHabitat.invalid && animalHabitat.touched && animalHabitat.pristine"
                        class="alert alert-danger">Este campo es obligatorio</p>
                    <!--Categories-->
                    <div class="form-group">
                        <label for="animalCategory">Categoría</label>
                        <select class="form-control" type="select" required name="animalCategory"
                            #animalHabitat="ngModel" [(ngModel)]="formData['category']">
                            <option *ngFor="let category of _animalService.categories; let i = index">{{category}}</option>
                        </select>
                    </div>
                    <!--Conservation status-->
                    <div class="form-group">
                        <label for="conservationStatus">Estado de conservación</label>
                        <select class="form-control" type="select" required name="conservationStatus"
                            #animalHabitat="ngModel" [(ngModel)]="formData['conservationStatus']">
                            <option>Vulnerable</option>
                            <option>En peligro de extinción</option>
                            <option>Preocupación menor</option>
                        </select>
                    </div>
                    <input type="reset" class="btn btn-secondary mr-2" value="Restablecer">
                    <input type="submit" class="btn btn-success" value="Enviar" [disabled]="!addAnimal.form.valid || this.keywordsArray.length === 0" />
                </form>
            </div>
            <div [hidden]="!submitted" class="wrap-form">
                <div class="alert alert-info" role="alert">
                    <p>{{_animalService.messageForm}}<p>
                    <p *ngIf="_animalService.alreadyRegistered">Si deseas hacer alguna modificación o sugerencia por favor contáctanos en <span class="email">info@acude-app.com</span>.</p>
                </div>
                <div *ngIf="!_animalService.alreadyRegistered" class="upload-image">
                   <div class="title-addImage">
                        <p>¿Tienes una imagen donde se vea bien el animal? ¡Súbela!</p>
                    </div>
                    <form ngNoForm action="http://localhost:3000/uploadImage/{{_animalService.idAnimal}}" method="POST"
                    enctype="multipart/form-data">
                        <div class="form-group">
                        <input name="animalImage" type="file" class="form-control-file">
                        <button type="submit">Enviar</button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>